
.page {
    background-image: url("http://www.thebristolpalmbeach.com/uploads/images/FL001-02-C01-R01-FitnessView-09.jpg");
    background-color: black;
    background-size: cover;

 }
 rect{
     display: none;
     color: white;

 }
 

text {
    fill: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solide ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
