.the-managements {
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.person {
  box-sizing: border-box;
}

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.person img {
  height: 100%;
  width: 240px;
  margin-top: 24px;
  height: 270px;
}
.person h2 {
  margin: 12px 0px 5px;
  font-size: 24px;
}
.person h3 {
  color: #428bca;
  font-size: 18px;
  margin-bottom: 5px;
}
.person p {
  font-size: 13px;
  text-align: justify;
  text-align-last: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.person figure {
  position: relative;
}
.person figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 76%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.person figure:hover::before {
	-webkit-animation: shine 1.3s;
	animation: shine 1.3s;
}
@-webkit-keyframes shine {
	100% {
		left: 75%;
	}
}
@keyframes shine {
	100% {
		left: 75%;
	}
}
